.noContent__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    font-weight: bold;
    .noContent__title{
        font-size: 2.5rem;
    }
    .noContent__message{
        font-size: 1.3rem;
        margin-bottom: 15px;
        img{
            margin-left: 10px;
        }
    }
}