.stock__container{
    margin-left: auto;
    padding: 6px;
    font-weight: bold;
    background-color: #abcbf0;
    border-radius: 6px;
}
.item__count{
    width: 100%;
}
.price__container{
    padding: 8px 0;
    border-radius: 10px;
    margin: 10px;
    background-color: #4e86c5;
    color: white;
    font-size: 1.1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    span{
        font-weight: bolder;
    }
}
.item__list__container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 3rem 0;
}
.skeletons__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}
.detail__hover{
    color: #dfe7f3;
    padding: 5px;
}
.detail__hover:hover{
    color: gray;
}
